{% extends 'base.html' %}

{% block aside %}

{% if current_user %}
<aside class="col-lg-4">
	<h5>Transactions review</h5>
	<ul>
		<a href="addincome" class="list-group-item list-group-item-dark list-group-item-action">add income</a>
		<a href="addexpense" class="list-group-item list-group-item-dark list-group-item-action">add expense</a>
		<a href="transactions" class="list-group-item list-group-item-dark list-group-item-action">last transactions</a>
	</ul>
	<h5 class="mt-5">Balance sheets review</h5>
	<ul>
		<a href="currentmonth" class="list-group-item list-group-item-dark list-group-item-action">running month</a>
		<a href="prevmont" class="list-group-item list-group-item-dark list-group-item-action">previous month</a>
		<a href="currentyear" class="list-group-item list-group-item-dark list-group-item-action">running year</a>
		<a href="prevyear" class="list-group-item list-group-item-dark list-group-item-action">previous year</a>
	</ul>
	<h5 class="mt-5">Categories manager</h5>
	<ul>
		<a href="#" class="list-group-item list-group-item-dark list-group-item-action">categories review</a>
		<a href="#" class="list-group-item list-group-item-dark list-group-item-action">add category</a>
		<a href="#" class="list-group-item list-group-item-dark list-group-item-action">delete category</a>
	</ul>
</aside>
{% endif %}

{% endblock %}